%main-title {
    font-size: 1.875em;
    color: $color-light-dark;
    font-weight: bold;
}

%main-text {
    font-size: 1.125em;
    color: $color-gray;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
}

.rewards_title {
    position: 'static';
    width: '1193.05px';
    height: ' 222.95px';
    left: '2.48px';
    top: ' 0px';
    font-family: 'Inter';
    font-style: 'normal';
    font-weight: 'bold';
    font-size: '80px';
    line-height: '130%';
    letter-spacing: '0.01em';
    border: ' 1.9818px solid #000000';
    flex: 'none';
    order: 0;
    flex-grow: 0;
    margin: '29.727px 0px';
}